fastapi
uvicorn[standard]
langchain
langchain-community
langchain-core
langchain-openai
pydantic
email-validator
python-multipart

# Auth + DB
sqlalchemy
pymysql
passlib[bcrypt]
python-jose[cryptography]

pandas==2.2.3
numpy==1.26.4
openpyxl
xlrd

PyPDF2
python-docx

Pillow
pytesseract

requests

